<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>org.market.serviceservlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>org.market.serviceservlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AndroidLoginServlet</servlet-name>
    <servlet-class>org.market.serviceservlet.AndroidLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AndroidSignupServlet</servlet-name>
    <servlet-class>org.market.serviceservlet.AndroidSignupServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AndroidSearchGoodsServlet</servlet-name>
    <servlet-class>org.market.serviceservlet.AndroidSearchGoodsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteUserInfoServlet</servlet-name>
    <servlet-class>org.market.serviceservlet.DeleteUserInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteGoodsInfoServlet</servlet-name>
    <servlet-class>org.market.serviceservlet.DeleteGoodsInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModifyUserInfoServlet</servlet-name>
    <servlet-class>org.market.serviceservlet.ModifyUserInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModifyGoodsInfoServlet</servlet-name>
    <servlet-class>org.market.serviceservlet.ModifyGoodsInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AndroidSearchServlet</servlet-name>
    <servlet-class>org.market.serviceservlet.AndroidSearchServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AlterClientNameServlet</servlet-name>
    <servlet-class>org.market.serviceservlet.AlterClientNameServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GoodsDisplayServlet</servlet-name>
    <servlet-class>org.market.serviceservlet.GoodsDisplayServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GoodsListServlet</servlet-name>
    <servlet-class>org.market.serviceservlet.GoodsListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GoodsUploadServlet</servlet-name>
    <servlet-class>org.market.serviceservlet.GoodsUploadServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GoodsUpdateServlet</servlet-name>
    <servlet-class>org.market.serviceservlet.GoodsUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserInfoServlet</servlet-name>
    <servlet-class>org.market.serviceservlet.UserInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserGoodsServlet</servlet-name>
    <servlet-class>org.market.serviceservlet.UserGoodsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>org.market.serviceservlet.TestServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GoodsDeleteServlet</servlet-name>
    <servlet-class>org.market.serviceservlet.GoodsDeleteServlet</servlet-class>
  </servlet>










  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/page/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/page/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AndroidLoginServlet</servlet-name>
    <url-pattern>/page/AndroidLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AndroidSignupServlet</servlet-name>
    <url-pattern>/page/AndroidSignupServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AndroidSearchGoodsServlet</servlet-name>
    <url-pattern>/page/AndroidSearchGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteUserInfoServlet</servlet-name>
    <url-pattern>/page/DeleteUserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteGoodsInfoServlet</servlet-name>
    <url-pattern>/page/DeleteGoodsInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyUserInfoServlet</servlet-name>
    <url-pattern>/page/ModifyUserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyGoodsInfoServlet</servlet-name>
    <url-pattern>/page/ModifyGoodsInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AndroidSearchServlet</servlet-name>
    <url-pattern>/page/AndroidSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AlterClientNameServlet</servlet-name>
    <url-pattern>/page/AlterClientNameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsDisplayServlet</servlet-name>
    <url-pattern>/page/GoodsDisplayServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsListServlet</servlet-name>
    <url-pattern>/page/GoodsListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsUploadServlet</servlet-name>
    <url-pattern>/page/GoodsUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsUpdateServlet</servlet-name>
    <url-pattern>/page/GoodsUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserInfoServlet</servlet-name>
    <url-pattern>/page/UserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserGoodsServlet</servlet-name>
    <url-pattern>/page/UserGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/page/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsDeleteServlet</servlet-name>
    <url-pattern>/page/GoodsDeleteServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>